.comingSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.comingSoon > h3 {
  position: relative;
  font-size: 8vw;
  color: white;
  -webkit-text-stroke: 2px #329d52;
}
