/* .aboutus {
  margin: 30px;
} */

.aboutus > h1 {
  text-align: center;
  font-size: 3rem;
  color: #55c57a;
  padding: 40px 0px 48px 0px;
}

.aboutus-wrapper {
  display: flex;
  flex: 1;
  margin: 20px 0px 0 20px;
}

.aboutText-box {
  align-self: center;
  justify-self: center;
  margin: 0 10%;
  flex: 1;
}

.aboutText-box > p {
  font-size: 1.2rem;
  text-align: justify;
  color: black;
  padding: 20px 20px 8px 20px;
}

@media screen and (max-width: 1062px) {
  .aboutText-box > p {
    padding: 20px 0px 0px 0px;
  }
}

@media screen and (max-width: 1014px) {
  .aboutText-box {
    flex: 0.7;
  }
}

@media screen and (max-width: 996px) {
  .aboutus-wrapper > img {
    height: 57vh;
    flex: 0.45;
  }
}

@media screen and (max-width: 946px) {
  .aboutus-wrapper > img {
    border-radius: 8px;
    height: 52vh;
    flex: 0.45;
  }

  .aboutText-box > p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 866px) {
  .aboutus > a {
    font-size: 10px;
  }

  .aboutus-wrapper > img {
    height: 45vh;
    flex: 0.45;
  }

  .aboutText-box > p {
    font-size: 1rem;
    padding: 10px 0px 0px 0px;
  }
}

@media screen and (max-width: 784px) {
  .aboutus-wrapper > img {
    height: 40vh;
    flex: 0.45;
  }
}

@media screen and (max-width: 742px) {
  .aboutus-wrapper > img {
    height: 35vh;
  }

  .aboutText-box > p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 666px) {
  .aboutText-box > p {
    font-size: 0.8rem;
  }

  .aboutus-wrapper > img {
    height: 28vh;
  }

  .aboutus > a {
    font-size: 8px;
  }
}

@media screen and (max-width: 582px) {
  .aboutus-wrapper > img {
    width: 75%;
    display: block;
    margin: 0px auto;
  }

  .aboutus > a {
    display: none;
  }

  .aboutus-wrapper > a {
    display: block;
  }

  .aboutus-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 0px;
  }

  .aboutus-wrapper > a {
    font-size: 0.8rem;
    text-decoration: none;
    color: grey;
    padding-left: 13%;
    padding-bottom: 20px;
  }
  .aboutText-box > p {
    padding-bottom: 20px;
    font-size: 1rem;
  }

  .aboutus > h1 {
    padding: 60px 0px 48px 0px;
  }
}

@media screen and (max-width: 411px) {
  .aboutus-wrapper > a {
    padding-top: 4px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 314px) {
  .aboutus-wrapper > a {
    padding-top: 4px;
    font-size: 0.5rem;
  }
}
