/* .aboutus {
  margin: 30px;
} */

.Ourmission > h1 {
  text-align: center;
  font-size: 3rem;
  color: #55c57a;
  padding: 40px 0px 48px 0px;
}

.Ourmission > a {
  text-decoration: none;
  color: grey;
  padding-left: 30px;
  padding-bottom: 30px;
}

.Ourmission-wrapper {
  display: flex;
  flex: 1;
  margin: 20px 20px 30px 20px;
}

.Ourmission-wrapper > a {
  display: none;
}

.Ourmission-wrapper > img {
  border-radius: 8px;
  width: 130vh;
  height: 65vh;
  flex: 0.45;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.12);
}

.OurmissionText-box {
  align-self: center;
  justify-self: center;
  padding: 0 30px 0 30px;
  flex: 0.55;
}

.OurmissionText-box > p {
  font-size: 1.2rem;
  text-align: justify;
  color: black;
  padding: 20px 20px 8px 20px;
}

@media screen and (max-width: 1062px) {
  .OurmissionText-box > p {
    padding: 20px 0px 0px 0px;
  }
  .OurmissionText-box {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1014px) {
  .Ourmission > a {
    font-size: 12px;
  }

  .Ourmission-wrapper > img {
    flex: 0.3;
  }
  .OurmissionText-box {
    flex: 0.7;
  }
}

@media screen and (max-width: 996px) {
  .Ourmission-wrapper > img {
    height: 57vh;
    flex: 0.45;
  }
}

@media screen and (max-width: 946px) {
  .Ourmission-wrapper > img {
    border-radius: 8px;
    height: 52vh;
    flex: 0.45;
  }

  .OurmissionText-box > p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 866px) {
  .Ourmission > a {
    font-size: 10px;
  }

  .Ourmission-wrapper > img {
    height: 45vh;
    flex: 0.45;
  }

  .OurmissionText-box > p {
    font-size: 1rem;
    padding: 10px 0px 0px 0px;
  }
}

@media screen and (max-width: 784px) {
  .Ourmission-wrapper > img {
    height: 40vh;
    flex: 0.45;
  }
}

@media screen and (max-width: 742px) {
  .Ourmission-wrapper > img {
    height: 35vh;
  }

  .OurmissionText-box > p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 666px) {
  .OurmissionText-box > p {
    font-size: 0.8rem;
  }

  .Ourmission-wrapper > img {
    height: 28vh;
  }

  .Ourmission > a {
    font-size: 8px;
  }
}

@media screen and (max-width: 582px) {
  .Ourmission-wrapper > img {
    width: 75%;
    display: block;
    margin: 0px auto;
  }

  .Ourmission > a {
    display: none;
  }

  .Ourmission-wrapper > a {
    display: block;
  }

  .Ourmission-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 0px;
  }

  .Ourmission-wrapper > a {
    font-size: 0.8rem;
    text-decoration: none;
    color: grey;
    padding-left: 13%;
    padding-bottom: 20px;
  }
  .OurmissionText-box > p {
    padding: 20px 0px;
    font-size: 1rem;
  }

  .Ourmission > h1 {
    padding: 60px 0px 48px 0px;
  }
}

@media screen and (max-width: 411px) {
  .Ourmission-wrapper > a {
    padding-top: 4px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 314px) {
  .Ourmission-wrapper > a {
    padding-top: 4px;
    font-size: 0.5rem;
  }
}
