.TeramsOfUse {
  display: block;
  width: 80%;
  color: black;
  margin: 8rem auto;
}
.TeramsOfUse > h2 {
  font-weight: 900;
}

.TeramsOfUse > p {
  text-align: justify;
  padding-bottom: 30px;
  line-height: 1.8rem;
}

.TeramsOfUse > ul {
  padding-left: 20px;
  line-height: 2.3rem;
}
