.Useracount-Container {
  margin: 45px 120px 45px 120px;
  height: 70vh;
  background-color: white;
  display: flex;
  flex: 1;
}

.Useracount-Container > img {
  width: 40%;
  flex: 0.5;
}

.UserForm {
  flex: 0.5;
  align-self: center;
  text-align: center;
}

.UserForm > h1 {
  color: #000;
  font-weight: 900;
}

.UserForm > span {
  font-size: 0.9rem;
}

.login {
  text-decoration: none;
  cursor: pointer;
  color: #55c57a;
  font-weight: 700;
}
