.Useracount-Container {
  border-radius: 12px;
  margin: 45px 120px;
  height: 70vh;
  background-color: white;
  display: flex;
  flex: 1;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

.Useracount-Container > img {
  width: 40%;
  flex: 0.5;
}

.UserForm {
  flex: 0.5;
  align-self: center;
  text-align: center;
}

.UserForm > h1 {
  color: #000;
  font-weight: 900;
}

.UserForm > span {
  font-size: 0.9rem;
}

.login {
  text-decoration: none;
  cursor: pointer;
  color: #55c57a;
  font-weight: 700;
}

@media screen and (max-width: 896px) {
  .Useracount-Container {
    height: 73vh;
  }
  .UserForm > h1 {
    font-size: 23px;
  }

  .UserForm > span {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .Useracount-Container {
    margin: 45px 60px;
  }
}

@media screen and (max-width: 650px) {
  .Useracount-Container {
    margin: 45px;
  }
}

@media screen and (max-width: 550px) {
  .Useracount-Container > img {
    display: none;
  }

  .UserForm {
    flex: 1;
  }
}

@media screen and (max-width: 336px) {
  .Useracount-Container {
    margin: 45px 20px;
  }
}
