body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-family: 400;
  font-size: 16px;
  color: #777;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
